
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html body {

    background-color: white;
}

#app {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    padding: 1%;
    left: 15%;
    width: 70%;
    top: 13%;
}

#button {
    text-align: center;
    border-radius: 5px;
    position: absolute;
    width: 10%;
    margin-top: 1%;
    font-size: 1.3vw;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

#register {
    text-align: center;
    padding-top: 1%;
    font-size: 1.3vw;

}

a {
    color: cornflowerblue;
}

.test {
    font-size: 1.3vw;

}

.big-text {
    font-size: 1.4vw;

}

.left-menu {
    position: fixed;
    width: 30%;
    height: 100%;
    overflow-y: scroll;
}

.chat-sec {
    width: 70%;
    left: 30%;
    float: right;
    position: fixed;
    height: 100%;
    top: 0%;
    bottom: 0%;
}

.chat-nav {
    text-align: center;
    height: 7%;
    background-color: white;
}

.chat-pic {
    height: 100%;
    float: left;
}

.chat-box {
    position: fixed;
    top: 7%;
    bottom: 7%;
    width: 70%;
    overflow-y: auto;
}

.send-sec {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 7%;
}

.send-input {
    position: absolute;
    height: 100%;
    width: 85%;
    right: 5%;
}

.send-bottom {
    position: absolute;
    width: 5%;
    right: 0%;
    height: 100%;
    border-radius: 0%;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.contact-pic {
    position: absolute;
    height: 70%;
    width: 7%;
    float: left;
}

.my-search {
    top: 50%;
    position: absolute;
    height: 50%;
}


.lower-left {
    position: absolute;
    top: 14%;
    width: 100%;
    left: 0px;
    height: 86%;
    overflow-y: scroll;
}
.upper-left-main{
    position: absolute;
    height: 14%;
    width: 100%;
}
.upper-left {
    width: 100%;
    position: absolute;
    height: 50%;
}
.new-contact{
    background-color: #f1f1f1;
    float: right;
    height: 60%;
    width: 8%;
}
.date-text {
    font-size: 0.7vw;
}
.message-peak-text {
    font-size: 1vw;
    margin-left: 20%;
}
.list-item{
    position: absolute;
    height: 10%;
    width: 100%;
}
.my-photo{
    position: relative;
    height: 80%;
    width: 7%;
    float: left;
}

.record-bottom {
    position: absolute;
    width: 5%;
    left: 0%;
    height: 100%;
    border-radius: 0%;
}

.file-bottom {
    position: absolute;
    width: 5%;
    left: 5%;
    height: 100%;
    border-radius: 0%;
}
.modelBackground {
    z-index: 10000;
}
.modelContainer {
    position: fixed;
    width: 50%;
    left: 10%;
    z-index: 10000;
}